.reels-container {
    width: 100%;
    height: 93vh;
    scroll-snap-align: start;
}



.App {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
  }
  

  
  .video-container{
    margin-top: 20px;
    height: 93vh;
    border-radius: 20px;
    background-color: #fff;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    
  }
  
  .video-container::-webkit-scrollbar{
    display: none;
  }

  
  
  
  